.change-password {
  .password-card {
    padding: 1rem;
    background-color: rgb(245, 245, 245);
  }

  .former{
    display: flex;
    justify-content: space-between;
  }
  
  .inputter{
    width: 900px;
  }

  .dividerbtn{
    display: flex;
    justify-content:  center;
    margin-top: 20px;
    
  }
}
